extends layout

block content
	div.container
		div.sixteen.columns.main
			img(src='images/signature.gif')
			h1 James Kohli
			h4 Partner and Software Engineer at 
				a.boldLink(href='http://www.g2ft.com') G2 FinTech
			hr.large
			ul.menu
				li 
					a.boldLink(href="http://www.twitter.com/JamesKohli" title='twitter.com/JamesKohli' target='_blank') Twitter
				li 
					a(href="http://www.facebook.com/gettinjiggywithit" title='Facebook' target='_blank').boldLink Facebook
				li 
					a.boldLink(href="https://www.linkedin.com/pub/james-kohli/42/48b/267" title="Linkedin" target='_blank') Linkedin
				li 
					a(href="mailto:jkohli112@gmail.com" title="Email" target='_blank').boldLink Jkohli112@gmail.com
			hr.large
			h3 Blog Entries
			p
				script(type="text/javascript"). 
					for (var i = 0; i < 5; i++) { 
					document.write(
					'<h6><p><a class="boldLink" target="_blank" href="' + tumblr_api_read['posts'][i]['url'] + 
					'">' + tumblr_api_read['posts'][i]['regular-title'] + '</a><br>'+ tumblr_api_read['posts'][i]['date']+'</br></p><h6>'
					);
					}
			div.eight.columns.alpha
				a.boldLink(href='http://www.github.com/JamesKohli' title='GitHub' target='_blank')
					img(src='images/science.gif')
					h4 Science & Engineering
			div.eight.columns.omega
				a.boldLink(href='http://www.jameskohli.tumblr.com' title='Tumblr' target='_blank')
					img(src='images/art.gif')
					h4 Art & Philosophy
			
