extends layout

block content
	div.container
		div.sixteen.columns
			img(src='images/signature.gif')
			h1 James Kohli
			h4 Partner and Software Engineer at 
				a(href='http://www.g2ft.com') G2 FinTech
		hr.large
		ul.menu
			li 
				a(href="http://www.twitter.com/JamesKohli" title='twitter.com/JamesKohli' target='_blank') Twitter
			li 
				a(href="http://www.facebook.com/gettinjiggywithit" title='Facebook' target='_blank') Facebook
			li 
				a(href="https://www.linkedin.com/pub/james-kohli/42/48b/267" title="Linkedin" target='_blank') Linkedin
		hr.large
		div.eight.columns.alpha
			a(href='http://www.github.com/JamesKohli' title='GitHub' target='_blank')
				img(src='images/science.gif')
				h4 Science & Engineering
		div.eight.columns.omega
			a(href='http://www.jameskohli.tumblr.com' title='Tumblr' target='_blank')
				img(src='images/art.gif')
				h4 Art & Philosophy