extends layout

block content
	div.container
		div.sixteen.columns.main
			a.boldLink(href='http://www.jameskohli.com/')
				img(src='images/signature.gif')
			h1 James Kohli
			h4 Product Manager at 
				a.boldLink(href='http://www.google.com') Google
			hr.large
			ul.menu
				li 
					a.boldLink(href="http://www.instagram.com/JamesKohli" title='Instagram' target='_blank') Instagram
				li 
					a(href="http://www.facebook.com/gettinjiggywithit" title='Facebook' target='_blank').boldLink Facebook
				li 
					a.boldLink(href="https://www.linkedin.com/pub/james-kohli/42/48b/267" title="Linkedin" target='_blank') Linkedin
				li 
					a(href="mailto:James@JamesKohli.com" title="Email" target='_blank').boldLink james@jameskohli.com
			hr.large
			h3 Blog Entries
			p
				script(type="text/javascript"). 
					for (var i = 0; i < 5; i++) { 
						if(typeof tumblr_api_read['posts'][i]['regular-title'] === 'undefined'){
							var linkTitle = tumblr_api_read['posts'][i]['link-text'];
						} else {
							var linkTitle = tumblr_api_read['posts'][i]['regular-title'];
						};
					document.write(
					'<h6><p><a class="boldLink" target="_blank" href="' + tumblr_api_read['posts'][i]['url'] + 
					'">' + linkTitle + '</a><br>'+ tumblr_api_read['posts'][i]['date']+'</br></p><h6>'
					);
					}
				a.boldLink(href="http://blog.jameskohli.com/tagged/blog" title="Blog") More Entries
			div.eight.columns.alpha
				a.boldLink(href='http://www.github.com/JamesKohli' title='GitHub' target='_blank')
					img(src='images/science.gif')
					h4 Science & Engineering
			div.eight.columns.omega
				a.boldLink(href='http://blog.jameskohli.com' title='Tumblr' target='_blank')
					img(src='images/art.gif')
					h4 Art & Philosophy
			
