doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript" src="http://blog.jameskohli.com/api/read/json?tagged=blog&num=5")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-51478818-1', 'jameskohli.com');
			ga('send', 'pageview');
		meta(name="description" content="James Kohli is the Application Engineering Team Lead and partner at G2 FinTech. This is his personal site.")
	body(style='background-color:#003D52')
		block content